/* Estilizando o layout do checkout */
.checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.checkout-info {
    flex: 1;
    max-width: 50%;
    padding-left: 15%;
    font-size: 108px; /* Aumenta o tamanho das informações */
}

.ceremony-title {
    font-size: 58px; /* Aumenta o tamanho do título */
    font-weight: bold;
    margin-bottom: 15px;
}

.ceremony-date, .ceremony-details, .ceremony-price {
    font-size: 26px;
    margin-bottom: 10px;
}

.payment-button {
    padding: 25px 250px; /* Aumenta o tamanho do botão */
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 28px; /* Aumenta o tamanho do texto do botão */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.payment-button:hover {
    background-color: gray;
}

.checkout-image {
    flex: 1;
    max-width: 50%;
}

.checkout-image img {
    width: 60%; /* Reduz ainda mais a largura da imagem */
    height: auto; /* Mantém a proporção */
    border-radius: 8px; /* Bordas arredondadas */
    object-fit: cover; /* Ajusta a imagem ao espaço disponível */
}

/* Adicionando responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .checkout-container {
        flex-direction: column-reverse; /* Altera a ordem para exibir a imagem primeiro */
        align-items: center;
        gap: 10px;
    }

    .checkout-info {
        max-width: 90%;
        padding-left: 0;
        font-size: 24px; /* Reduz o tamanho das informações */
        text-align: center;
    }

    .ceremony-title {
        font-size: 32px; /* Reduz o tamanho do título */
    }

    .ceremony-date, .ceremony-details, .ceremony-price {
        font-size: 18px; /* Reduz o tamanho do texto */
    }

    .payment-button {
        padding: 15px 50px; /* Ajusta o tamanho do botão */
        font-size: 18px; /* Reduz o tamanho do texto do botão */
    }

    .checkout-image {
        max-width: 90%;
    }

    .checkout-image img {
        width: 100%; /* Ajusta a largura da imagem para caber na tela */
    }
}